@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header>
    <div class="text-center">
        <h1 class="display-4">Tutor Zealad</h1>
    </div>
</header>

<main>
    <body>
        <div class="card">
            <img src="/img/img1.png" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Hvem er vi?</h5>
                <p class="card-text">Kom ind og læs lidt om hvem vi er.</p>
                <a href="#" class="btn btn-primary">Læs mere</a>
            </div>
        </div>

        <div class="card">
            <img src="/img/img2.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Noget for dig?</h5>
                <p class="card-text">Find ud af om Tutor Zealand er noget for dig.</p>
                <a href="#" class="btn btn-primary">Læs mere</a>
            </div>
        </div>
    </body>


    <footer>
    </footer>

</main>
