@page
@model TutorZealandApp.Pages.Info.BlogModel
@{
}

<main>
    <body>
        <div class="card">
            <img src="/img/img2.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Noget for dig?</h5>
                <p class="card-text"> Find ud af om Tutor Zealand er noget for dig.</p>

                    </<br />

                    <h6>Er du</h6>
                <p>
                    Er du studerende på Zealand og mener du at du har et af disse behov?
                    <br />
                    Behov for fysisk tilstede værelse.
                    </br>
                    Behov for en til en undervisning.
                    </br>
                    Behov for en med ekspertise, til at demonstrere/forklare mig
                </p>

                <h6>THEN LOOK NO FURTHER</h6>
                <p> 
                    Tutor zealand er svaret til dig.
                </p>
            </div>
        </div>
    </body>


    <footer>
    </footer>

</main>