@page
@model TutorZealandApp.Pages.Info.OmosModel
@{
}

<main>
    <body>
        <div class="card">
            <img src="/img/img1.png" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Hvem er vi?</h5>
                <p class="card-text">Kom ind og læs lidt om hvem vi er.</p>

                <br />
                
                <h6>Om Os</h6>
                <p>Tutor Zealand, er Zealands egen booking system, for de studerende hos Zealand, således de studerende kan tilgå,
                    ekstra undervisning, uden for skoletiden og forøge chancerne for bedre studiegang og afslutning.
                </p>

                <br />

                <h6>Kvalificerede hjælpelærer</h6>
                <p>
                    Hjælpelærerne hos Tutor Zealand, er dine medstuderende, er du en af dine ekstra skarpe knive i skuffen,
                    jamen så søg ind, og tjen lidt ekstra på siden, ved at give ud af dine talenter, til dine medstuderende.
                </p>

                <br />

                <h6>Booking</h6>
                <p>
                    Du kan booke dig ind som studerende til en af de oprette sessioner, og deltage til undervisning herigennem.
                </p>
            </div>
        </div>
    </body>


    <footer>
    </footer>

</main>