@page
@model TutorZealandApp.Pages.Education.CreateEducationModel
@{
}

<h2>Opret Uddannelse</h2>

<form method="post">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Navn</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="Subject" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Uddannelse</label>
        <div class="col-sm-6">
            <select asp-for="education" class="form-select">
                <option value="1">Autoteknolog</option>
                <option value="2">Datamatiker</option>
                <option value="3">El-Installatør</option>
                <option value="4">Finansøkonom</option>
                <option value="5">Handelsøkonom</option>
            </select>
            <span asp-validation-for="education" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Semester</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="semester" />
            <span asp-validation-for="semester" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Beskrivelse</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="description" />
            <span asp-validation-for="description" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Opret</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Pages/Account/Login" role="button">Annuller</a>
        </div>
    </div>
</form>
